html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(32, 32, 32);
  color: white;
    overflow: hidden;

}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 20px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #131313; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 2px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}


/* Add style for the active link */
.navbar a.active,
.navbar a.clicked {
  position: relative;
}

/* Add animation for the background */
.navbar a.active::after,
.navbar a.clicked::after {
  content: '';
  position: absolute;
  top: calc(50% - 25px);
  left: -10px;
  width: calc(100% + 20px);
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  animation: highlightBackground 0.7s ease-in-out; 
}

/* Keyframes for the animation */
@keyframes highlightBackground {
  0% { transform: scaleX(0); }
  50% { transform: scaleX(1.1); }
  100% { transform: scaleX(1); }
}

/* Fade-in and fade-out animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(-20px);
  }
  to {
    opacity: 0;
    transform: translateY(0px);
  }
}

/* Apply animations to sections */
section {
  opacity: 0;
  transition: opacity 0.9s ease, transform 0.9s ease;
}

section.fade-in {
  animation: fadeIn 0.9s forwards;
}

section.fade-out {
  animation: fadeOut 0.2s forwards;
}


.navbar {
  display: flex;
  align-items: center;
  margin: 0px 19px;
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1000;
  justify-content: flex-start; /* Align items to the start by default */
}

.navbar a {
  color: rgb(179, 179, 179);
  text-decoration: none;
  margin: 0vh 2.5vh; /* Adjust margin for better spacing */
  padding-bottom: -50px;
  cursor: pointer;
  user-select: none;
  font-size: 16px; /* Ensure font size is readable */
}

/* Disabled state for navbar links */
.navbar a.disabled {
  pointer-events: none;
}


section {
  padding: 0px 20px ; /* Add padding to avoid overlap with navbar */
  min-height: 100vh;
}

/* Center the container on the page */
.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333; /* Matching the gray background */
  border-radius: 10px;
  overflow: hidden;
  width: 1240px;
  height: 200px; /* Adjust height as needed */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.842);
  margin: 50vh auto 0 auto; /* Center horizontally and push vertically down */
  transform: translateY(-190%); /* Center vertically */
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  padding: 0;
}

/* Socials Section */

.socials-section {
  gap: 3rem;
}

.socials-section,
.linkedin-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center; /* Center items vertically */
  background-color: #444; /* Gray background */
  padding: 10px;
  color: white;
  opacity: 0.8; /* Initial opacity */
  transition: flex 0.4s ease-in-out, opacity 0.4s ease-in-out, padding 0.4s ease-in-out; /* Add transition for padding */
  height: 100%;
}

.socials-section:hover,
.linkedin-section:hover {
  opacity: 1; /* Increase opacity on hover */
}

/* Social Link Styling */
.social-link, .linkedin-link {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative; /* Position relative for fade effect */
  margin-bottom: 20px; /* Add margin between social links */
  margin-left: -10px; /* Add margin to move icons to the left */
}

/* Social Link Styling */
.social-link i {
  font-size: 2rem; /* Adjust icon size */
  padding: 5px; /* Initial padding */
}

.socials-section .social-link i {
  transition: transform 0.4s ease-in-out;
}

.socials-section .social-link:hover i {
  transform: translateY(-7px);
}

.social-link i {
  font-size: 3rem; /* Adjust icon size */
  padding: 5px; /* Initial reduced padding */
  transition: padding 0.4s ease-in-out; /* Add transition for padding */
}

.linkedin-link img {
  height: 50px; /* Fixed LinkedIn logo size */
  width: auto; /* Maintain aspect ratio */
  display: block;
  padding: 5px; /* Initial reduced padding */
  transition: padding 0.4s ease-in-out; /* Add transition for padding */
}

/* Username styles */
.social-username, .linkedin-username {
  opacity: 0; /* Start hidden */
  font-size: 0.8rem; /* Smaller font size */
  padding: 0 5px; /* Initial padding */
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out, font-size 0.4s ease-in-out, padding 0.4s ease-in-out; /* Apply transitions */
  transform: translateY(10px); /* Adjust for smooth transition */
}


/* Hover effects to expand sections */
.socials-section:hover {
  flex: 2;
  padding: 0 15px 0 0; /* Increase padding on hover */
}

/* Hover effects to expand sections */
.socials-section:hover .social-username {
  opacity: 1;
  font-size: 1.3rem; /* Increase font size on hover */
  padding: 0 15px; /* Increase padding on hover */
  transform: translateY(0); /* Move text into view */
}

.linkedin-section:hover {
  flex: 2;
  padding: 15px; /* Increase padding on hover */
}

.linkedin-section:hover .linkedin-username {
  opacity: 1;
  font-size: 1.3rem; /* Increase font size on hover */
  padding: 0 15px; /* Increase padding on hover */
  transform: translateY(0); /* Move text into view */
}

/* Reduce icon padding */
.socials-section:not(:hover) .social-link i,
.linkedin-section:not(:hover) .linkedin-link img {
  padding: 5px; /* Reduced padding */
}

.socials-section:not(:hover) .social-username,
.linkedin-section:not(:hover) .linkedin-username {
  opacity: 0; /* Fade out */
  font-size: 0.8rem; /* Smaller font size */
  padding: 0 5px; /* Reduced padding */
  transform: translateY(10px); /* Move text out of view */
}

/* Description Container */
.description-container {
  background-color: #444; /* Dark background to match the theme */
  color: white; /* White text color */
  padding: 20px; /* Padding around the text */
  margin-bottom: 20px; /* Space between description and about container */
  width: 100%; /* Match width with the about-container */
  margin: 0 auto; /* Center the description container */
  text-align: center; /* Center the text */
  font-size: 1.1rem; /* Slightly larger text size */
  line-height: 1.5; /* Increase line spacing for readability */
  margin: 20vh 0 0 0; /* Center horizontally and push vertically down */
  transform: translateY(-10%); /* Center vertically */
}

/* Initially hide the content */
 .description-content {
  display: none;
  overflow: hidden;
  transition: max-height 0.5s ease-out; /* Smooth transition for expanding/collapsing */
}

/* Show the content when active */
.description-content.active {
  display: block;
  max-height: 1000px; /* Large value to ensure full expansion */
}

/* Header Styling */
.description-header {
  margin: 0; /* Remove default margin */
}

/* Dropdown Button Styling */
.dropdown-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  transition: transform 0.3s ease-in-out; /* Smooth transition for arrow rotation */
}

/* Rotate the arrow when content is active */
.description-content.active + .dropdown-button i {
  transform: rotate(180deg); /* Rotate arrow when expanded */
}


section:nth-of-type(even) {
  background-color: #333333;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: x-large;
}

/* Style for image box container */
.image-box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Space between boxes */
  max-width: 188vh; /* Maximum width of the container */
  margin: 0vh 0 3vh; /* Center the container */
}


/* Style for each image box */
.image-box {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.842);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 400px; /* Adjust size as needed */
  height: 250px; /* Adjust size as needed */
  cursor: pointer;
  user-select: none;
  margin: 3vh 0 0 0;
}

/* Style for the image */
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Style for the caption */
.image-box .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Hover effect */
.image-box:hover {
  transform: translateY(-10px) translateX(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Click effect */
.image-box:active {
  transform: translateY(-5px) scale(0.98);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Custom scrollbar styles for projects section */
#projects {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 60vh; /* Set a maximum height to trigger scrolling */
}

#projects::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

#projects::-webkit-scrollbar-track {
  background: #333; /* Color of the track */
}

#projects::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar */
  border-radius: 4px; /* Rounded corners */
}

#projects::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar on hover */
}

#projects::-webkit-scrollbar-thumb:active {
  background: #444; /* Color of the scrollbar when active (clicked) */
}


#about,
#projects,
#contact {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}



.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-right: 35vh; /* Adjust this value to control how far from the left edge the badge is */
  padding-top: 15vh;
}

.linkedin-badge {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.badge-header {
  background-color: #5F5F5F;
  text-align: left;
  padding: 10px;
}

.badge-header img {
  height: 40px; /* Increased size */
}

.badge-content {
  background: linear-gradient(to bottom, #5F5F5F, #3A3A3A);
  color: #fff;
  text-align: left;
  padding: 20px;
  padding-top: 5px;
}

.profile-picture {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-name {
  color: #0077b5;
  text-decoration: none;
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  font-size: 17px;
}

.profile-name:hover {
  text-decoration: underline;
  color: #005f87;
}

.job-title,
.company-name {
  margin: 5px 0;
}

.company-name {
  padding-top: 7px;
  font-size: 12px;
}

.view-profile-btn {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  transition: box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.view-profile-btn:hover {
  box-shadow: 0 0 0 1px #fff;
  color: #fff;
}


#projects h2,
#contact h2 {
  margin: 5vh 0 10px; /* Adjust margin for better spacing */
  font-size: 4vh; /* Adjust font size */
}

#projects h2 a {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
  color: #7c7c7c;
  border: 2px solid #7c7c7c;  /* Add border style */
  padding: 2px 6px; /* Add padding to create space around the text */
  border-radius: 5px; /* Add border radius for rounded corners */
  text-decoration: none;
}

#projects h2 a:hover {
  transform: translateY(-3px) translateX(2px);
}

#projects h2 a:active {
  transform: translateY(1px) translateX(1px);
}

/* Media Queries for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
      flex-direction:row;
      align-items:center; /* Center items for mobile view */
      padding: 10px; /* Reduce padding for smaller navbar */
  }

  .navbar a {
      margin: 0px 8px; /* Stack links vertically with reduced spacing */
      font-size: 10px; /* Slightly reduce font size */
      -webkit-tap-highlight-color: transparent;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  /* Add style for the active link */
.navbar a.active,
.navbar a.clicked {
  position: relative;
}

/* Add animation for the background */
.navbar a.active::after,
.navbar a.clicked::after {
  content: '';
  position: absolute;
  top: 25%;
  left: -5px;
  width: calc(100% + 10px);
  height: 28px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  animation: highlightBackground 0.6s ease-in-out; 
}

  #home,
  #projects,
  #contact {
      padding-top: 10px; /* Maintain padding for smaller screens */
  }

  
  #projects h2,
  #contact h2 {
      font-size: 24px; /* Adjust font size for smaller screens */
      color: #7c7c7c;
  }
}

.typing-animation {
  display: inline-block;
  white-space: nowrap; /* Ensure text stays on one line */
  overflow: hidden; /* Hide the text that is not yet visible */
  border-right: 2px solid white; /* The blinking cursor */
  animation: blink 1s step-end infinite; /* Ensure blinking animation */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for consistent character width */
  font-size: 3rem; /* Adjust font size as needed */
}

/* Keyframes for typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Keyframes for backspacing effect */
@keyframes backspace {
  from { width: 100%; }
  to { width: 0; }
}

/* Keyframes for blinking cursor */
@keyframes blink {
  0% { border-right: 2px solid transparent; }
  50% { border-right: 2px solid white; }
  100% { border-right: 2px solid transparent; }
}

#home h2 {
  font-size: 5vh;
}

#home p {
  font-size: 2.5vh;
}

.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.4rem 0 ;
    border-radius: 30px;
    margin-bottom: 0;
}
.icons li{
    list-style-type: none;
    background: #555555;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #b6b6b6;
    color: #000;
}


.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}



